<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rx.account.model.AccountMapper">
    <select id="loadAccounts" resultType="com.rx.account.model.Account">
        select * from account
    </select>

    <insert id="saveAccount" useGeneratedKeys="true" keyProperty="id">
        insert into account(guid, name, avatar, gender, mobileNumber, age, description, gender) values(#{guid}, #{name}, #{avatar}, #{gender}, #{mobileNumber}, #{age}, #{description}, #{gender})
    </insert>
</mapper>